body{
	background-color:#FFFFFF;
}
#title {
	padding: 20px;
	/*border:10px solid blue;*/
	font-family:arial;
	color : #FFFFFF;
	background-color:#00A080;
	font-size: 3em;
	text-align: center;
	flex : 8 1 auto;
	/*border: solid 2px blue;*/
}
#infos {
	font-family:arial ;
	font-style: italic;
	font-size: 1em;
	border: solid 2px #FFF;
	/*width : 10%;*/
	color : #FFFFFF;
	background-color:#00A080;
	flex : 2 1 auto;
	text-align: center;
}
.conteneur1 {
	width : 100%;
	display: flex;
	align-items : center;
	background-color: #00AAFF;
}
.conteneur1bis {
	font-family:arial;
	font-size: 2em;
	color: #00A080;
	text-align : center;
		
}
.conteneur2 {
	margin : auto;
	width : 80%;
	height : 350px;
	/*border : solid 5px blue;*/
	display : flex;
	flex-wrap : wrap;
	flex-direction : column;
	justify-content : space-around;
	align-items : center;
}


.effets {
	width : 30%;
	height : 150px;
	text-align: center;
	line-height: 150px;
	background-color: #008080;
	border-radius: 50px;
	color : #FFFFFF;
	font-size : 1.5em;
	
}

.conteneur3 {
	/*border : solid 1px;*/
	display : flex;
	justify-content : space-around;
}

.conteneur3d {
	width : 40%;
	border : solid 1px;
	overflow : auto;
	box-shadow : 6px 6px 5px black;
	padding : 10px;
}

.conteneur3g {
	width : 40%;
	border : solid 1px;
	box-shadow : 6px 6px 5px black;
	padding : 10px;
}

#visionneur {
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	position: absolute;
	left : 0px;
	right : 0px;
	top : 10px;
	bottom : 0px;
	display : none;
}

#visionneur img {
	margin-top: 50vh;
	transform: translateY(-50%);
	border : solid 5px black;
}

pre {
	overflow : auto;
}